.App {
  text-align: center;
  background-color: aliceblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.country-checkbox {
  display: flex;
  align-items: center; 
}

label {
  display: flex;
  align-items: center; 
}

input[type="checkbox"] {
  margin-left: 5px; /* Add spacing between the checkbox and label */
}


.container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.visited-countries {
  display: flex;
  border: black solid;
  background-color: burlywood;
  padding: 10px; 
  border-radius: 30px;
}

h1 {
  color:darkslategrey;
  text-align: center;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

h2 {
  padding: 10px;
}

body {
  background-color: lightgreen;
}




